:root {
  --spacing: 16px;
  --color_primary: #ab68ff;
  --border_primary: 5px solid var(--color_primary);
  --border_radius_parents: 29px;
  --border_radius_children: 8px;
  --font_weight_bold: 700;
  --background: rgba(33 34 40 / 90%);
}
