.revealPassword {
  display: contents;
  position: absolute;
  width: 1.5rem;
  border: none;
  align-self: flex-end;
  background: none;
  color: var(--color_dark_500);
}

.revealPassword:focus {
  outline: var(--color_primary) solid var(--border_size_normal);
  border-radius: var(--border_radius_children);
}
/*
  stylelint-disable selector-max-type
*/
.paddedInput input {
  padding-right: 1.73rem;
}
